/* for menu */

.search{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.input-field{
  border-radius:20px;
  border-color: #808080 !important;
}

input.form-control {
  border-radius: 30px !important;
  width:160px;
}

span.input-group-text {
  background: #ffa500;
  border-radius: 30px !important;
  margin-left:-40px;
  z-index:1;
}

input.form-control {
  width:400px !important;
}

.menu-names{
  color:#808080 !important;
  text-align: center;
}

.icon{
  font-size:20px !important;
}

.fa-sliders-h{
  color:#808080 !important;
  font-size:20px !important;
}

.menu-names p{
  font-size:12px;
}



/*----------------------------------------------- home ------------------------------------------*/

/* -------------header --------------------------- */

.headers{
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #80808050;
}

.dropdown{
  display:flex;
}

button.dropdown-toggle.btn.btn-secondary {
  background:transparent;
  color:black;
  border-radius:30px;
  border-color:#80808095;
  margin-bottom:10px;
}

/*  for  section */
.section{
  min-height: max-content;
  padding-top:40px;
  padding-bottom:40px;
}

/* for up cards */

.card-content-up{
  display: flex;
  justify-content: space-between;
}

.contents-up{
  display: flex;
  justify-content: space-around;
}

img.aprroved-img {
  width:50px;
  height:50px;
}

.contents-down{
  display: flex;
  justify-content: space-between;
}

.left-side-contents{
  position: relative;
}

.banner{
  position: absolute;
  background-color: #ffa500;
  top:-35px;
  left:-20px;
  width:140px;
  padding:5px 15px;
  font-size:12px;
  font-weight: bold;
}


/* for down cards */

.card-content{
  display:flex;
  justify-content: space-around;
}

button.button-cart.btn.btn-secondary{
  background-color: #ffa500;
  border-color:#ffa500;
  color:black;
  border-radius:30px;
}

button.button-cart3.btn.btn-secondary{
  background-color: #ffa500;
  border-color:#ffa500;
  color:black;
  border-radius:30px;
}

button.button-cart2.btn.btn-secondary{
  background-color: #fff;
  border-color:#ffa500;
  color:black;
  border-radius:30px;
  font-weight: bold;
}


.stock span{
  font-size: 11px;
}


.company-name-container{
  width:90px;
}

.company-name{
  font-size: 15px;
  font-size-adjust: 0.58;
}


.value{
  background-color:#f2f2f5;
  height:44px;
  padding:5px 10px 10px 10px;
}

button.cal-btn.btn.btn-secondary {
  background-color:#fff;
  color:black;
  /* height:44px; */
}

button.cal-btn2.btn.btn-secondary {
  background-color:#fff;
  color:black;
  /* height:44px; */
}

.para{
  font-size: 12px;
}

.red{
  color: red;
}

.content-up{
  display: flex;
  /* justify-content: space-between; */
}

/* for load more */

button.load {
  border-radius:30px;
  background:transparent;
  border: 1px solid #80808080;
  width:1110px;
  font-weight:bold;
  padding:5px; 
}


/* repsonsive */

@media(max-width:1100px){
  button.load {
    width:925px;
  }
}

@media(max-width:480px){
  button.load {
    width:300px;
  }

  img.pr-4.pt-2.product-img {
    width:120px;
  }

  h5.company-name {
      width:100px;
      margin-left: 45px;
  }
  img.aprroved-img {
    width:30px;
    height:30px;
  }
  button.button-cart.btn.btn-secondary {
    font-size:10px;
  }

  button.cal-btn.btn.btn-secondary {
    padding:5px;
  }

  p.pl-4.para {
    font-size:11px;
  }

  h5.company-name {
    font-size:10px;
  }
  img.image-appr {
    width:30px;
    height:30px;
    position:relative;
    top:40px;
    left:-30px;
  }

  button.button-cart3.btn.btn-secondary {
    font-size:9px;
    position:relative;
    top:50px;
    left:-30px;
  }

  p.suv {
      font-size:10px;
      position:relative;
      left:20px;
  }

  .stock2 {
      font-size:10px;
      padding-left: 10px;
      display:inline-flex;
      position:relative;
      left:25px;
  }

  p.price {
      font-size:10px;
      padding-left: 10px;
      position:relative;
      left:50px;
  }

  p.total {
      font-size:10px;
      padding-left: 10px;
  }

  button.cal-btn2.btn.btn-secondary {
    padding:5px;
    height:35px;
 }
 .value {
  height: 32px;
 }
 .valueButton2 {
     position:relative;
     top:60px;
     left:-40px;
     display:inline-flex;
 }

  button.button-cart3.btn.btn-secondary {
    font-size:9px;
    position:relative;
    top: 61px;
    left: -50px;
    width:90px;
  }
  button.button-cart2.btn.btn-secondary {
    font-size:9px;
    position:relative;
    top: 61px;
    left: -50px;
    width:90px;
  }
  
}